[mysqld]
# Character set and collation settings
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# General settings
skip-host-cache
# bind-address = 127.0.0.1
bind-address = 0.0.0.0

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
